[Desktop Entry]
Type=Application
Name=Cherry Studio
Comment=🍒 Cherry Studio is a desktop client that supports for multiple LLM providers
Exec=/usr/bin/cherry-studio
Icon=cherry-studio
Categories=Utility;
StartupWMClass=CherryStudio